# Don't ring bell on completion
set bell-style none

# or, don't beep at me - show me
#set bell-style visible

# Show all instead of beeping first
set show-all-if-ambiguous off

# Filename completion/expansion
set completion-ignore-case on
#set show-all-if-ambiguous on

# Expand homedir name
#set expand-tilde on

# Append "/" to all dirnames
#set mark-directories on
#set mark-symlinked-directories on

# visible-stats
# Append a mark according to the file type in a listing
set visible-stats off
set mark-directories on

# Match all files
#set match-hidden-files on

# 'Magic Space'
# Insert a space character then performs
# a history expansion in the line
#Space: magic-space
#$endif

set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string \1\e[32m\2(c)\1\e[0m\2
set vi-ins-mode-string \1\e[34m\2(i)\1\e[0m\2
